body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d48eaa;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #d48eaa;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #778f3c;
    color: white;
    border: red;
    border-radius: 5px;
    cursor: sunflower;
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #752726;
    color: white;
    border: red;
    border-radius: 5px;
    cursor: sunflower;
  }
  
  .gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }